---
interface Props {
  title: string;
  body: string;
  href?: string;
  meta?: string;
  layout: "landscape" | "portrait";
}

const { href, title, body, meta, layout } = Astro.props;
---

<article class={layout}>
  <a href={href}>
    <hgroup>
      <p>{meta}</p>
      <h3>{title}</h3>
    </hgroup>
    <p>
      {body}
    </p>
  </a>
</article>

<style>
  article.landscape a {
    display: grid;
    grid-template-columns: auto 1fr;
  }
</style>
