---
import { Image } from "astro:assets";
import Badge from "./Badge.astro";

interface Props {
  title: string;
  href?: string;
  meta?: string;
  image: ImageMetadata;
  tags?: string[];
  layout: "landscape" | "portrait";
}
type badgeVariant = "primary" | "secondary" | "tertiary";
const { href, title, meta, layout, image, tags } = Astro.props;
const tagClassMap: Record<string, badgeVariant> = {
  article: "primary",
  books: "secondary",
  "news article": "tertiary",
  interview: "secondary",
};
---

<article>
  {
    layout == "landscape" ? (
      <a href={href} class="landscape">
        <Image src={image} alt={title} width={600} height={400} />
        <div class="card-content">
          <hgroup>
            <p class="body-xs">{meta}</p>
            <h3 class="title-md">{title}</h3>
          </hgroup>
          <slot />
          {tags && (
            <div class="tag-collection">
              {tags.map((tag) => (
                <Badge variant={tagClassMap[tag.toLowerCase()]}>{tag}</Badge>
              ))}
            </div>
          )}
        </div>
      </a>
    ) : (
      <a href={href} class="portrait">
        <Image src={image} alt={title} width={600} height={400} />
        <div class="card-content">
          <hgroup style="max-width: min(90%, 42rem); margin-bottom: 1rem;">
            <p
              style="text-transform: uppercase; font-weight: 350;"
              class="body-sm"
            >
              {meta}
            </p>
            <h3 class="title-lg">{title}</h3>
          </hgroup>
          <slot />
          {tags && (
            <div class="tag-collection">
              {tags.map((tag) => (
                <Badge variant={tagClassMap[tag.toLowerCase()]}>{tag}</Badge>
              ))}
            </div>
          )}
        </div>
      </a>
    )
  }

  <style>
    .landscape {
      display: flex;
      gap: 1.125rem;
      max-width: 62rem;
      img {
        width: 12rem;
        height: 12rem;
        aspect-ratio: 1 / 1;
      }
      @container (max-width: 62rem) {
        flex-direction: column;
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 21/9;
        }
      }
    }

    .portrait {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
      }
      hgroup {
        max-width: min(90%, 42rem);
        margin-bottom: 1rem;
      }
    }

    hgroup {
      max-width: 90%;
      margin-bottom: 0.5rem;
      p:first-child {
        text-transform: uppercase;
        font-weight: 350;
      }
    }

    article img {
      border-radius: 0.25rem;
      object-fit: cover;
      object-position: top;
      background-position: center center;
    }

    .tag-collection {
      margin-top: 1rem;
      display: flex;
      gap: 0.25rem;
    }
  </style>
</article>
