---
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";
const blogEntries = await getCollection("blogs");
import Button from "@components/Button.astro";
// const featuredBlog = blogEntries.shift();

  // Find the first blog post with the "Featured" tag
  const featuredBlog = blogEntries.find((blogPostEntry) => {
    return blogPostEntry.data.tags && blogPostEntry.data.tags.includes("Featured");
  });
---

<section id="articles" class="grid-container">
  <h1 class="grid-column--inset heading-lg">In the Press</h1>
  <div class="grid-column--inset blogs">
    {featuredBlog &&
    <div class="featured-blog">
      <Card
        title={featuredBlog.data.title}
        meta={featuredBlog.data.pubDate.toDateString() || "Published"}
        href={featuredBlog.data.url || featuredBlog.slug}
        image={featuredBlog.data.image}
        tags={featuredBlog.data.tags}
        layout="portrait",
      >
      <p class="excerpt body-md">{featuredBlog.data.excerpt || "Read More"}</p>
      </Card>
    </div>
    }
    <div class="blogs-list">
      {
        blogEntries.filter((blogPostEntry) => blogPostEntry !== featuredBlog)
        .map((blogPostEntry) => (
          <Card
            title={blogPostEntry.data.title}
            meta={blogPostEntry.data.pubDate.toDateString() || "Published"}
            href={blogPostEntry.data.url || blogPostEntry.slug}
            image={blogPostEntry.data.image}
            tags={blogPostEntry.data.tags}
            layout="landscape",
          >
          <p class="body-sm">{blogPostEntry.data.excerpt || "Read More"}</p>
          </Card>
          <hr />
        ))
      }
    </div>
  </div>
</section>

<style>
  section#articles {
    background-color: var(--bg-gray);
  }
.heading-lg {
    color: var(--primary);
    margin-bottom: clamp(1rem, 5vw, 2rem);
  }
  .blogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(1rem, 8vw, 4rem);
    container-type: inline-size;
  }
  .featured-blog {
    flex: 1 1 26rem;
  }
  .blogs-list {
    flex: 10 2 50%;
    min-width: min(100%, 36rem);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;


    @media screen and (max-width: 768px){
      &>hr {
        display: none;
      }
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(20rem, 1fr);overflow-x: auto;
    }
  }
  hr {
    border: 0;
    height: 1px;
    background: var(--primary);
    opacity: 0.5;
  }
</style>
